@font-face {
    font-family: font1;
    src: url(fonts/Chirp-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    height: 180vh;
    display:flex;
}

nav.menu1 {
    width: 350px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 10px 1 10px 1.5%;
    box-shadow: 1px 0 0 #918e8e;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 1s;

}


ul {
    height: 100%;

}

a {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: -5px;
    line-height: 40px;
    font-family: 'font1';
    text-decoration: none;
    margin-left: 20px;
}


i {
    color: rgb(0, 0, 0);
    font-size: 30px;
}

li a:hover{
    color: red;
    transition: 0.5;
}
.linktexto {
    margin-right: -50px;
    font-family: font1;
    margin-left: 25px;
}


.linkbutao {
    color: white;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    margin-top: -9px;
}


.perfil{
    position: absolute;
    bottom: 20px;
    left: 20px;

    width: 300px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
    border-radius: 40px;

    cursor: pointer;
}

.perfil:hover{
    background-color: #f2f2f2;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #cfd4dc;
}

.dados{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 12px;
}

.nome{
    font-family: font1;
    font-size: 15px;
    font-weight: bold;
    color: #000;
}

.usuario{
    font-family: font1;
    font-size: 14px;
    color: #536471;
}

.perfil i{
    font-size: 18px;
    color: #000;
}
.perfil i:hover{
    color: red;
    transition: 0.5;
}
nav.menu1{
    position: fixed;
}

.menu1{
    width:280px;
}

.feed{
    position: absolute;
    left: 350px; /*largura da barra fudida da esquerda*/

    width: 850px;
    min-height: 100vh;

    border-left: 1px solid #536471;
    border-right: 1px solid #536471;

    background: #fff;
}



.top-feed{
    height: 70px;

    display: flex;
    align-items: center;
    

    padding-left: 25px;

    border-bottom: 1px solid #536471;
}

.top-feed h2{
    font-family: font1;
    font-size: 24px;
    font-weight: 700;
    margin-left: 330px;
    
}





.avatar-post{
    width: 55px;
    height: 55px;

    border-radius: 50%;

    background: #d8d8d8;

    flex-shrink: 0;
}

.area-post{
    flex: 1;
    margin-left: 15px;
}




.footer-post{
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
}

.footer-post button{
    width: 130px;
    height: 42px;

    border: none;
    border-radius: 30px;

    background: #DC2626;
    color: white;

    font-family: font1;
    font-size: 15px;

    cursor: pointer;
}

.footer-post button:hover{
    background: #c91f1f;
}



.post{
    display: flex;

    padding: 20px 25px;

    border-bottom: 1px solid #536471;
}

.conteudo-post{
    margin-left: 15px;
}

.conteudo-post h4{
    font-family: font1;
    font-size: 16px;
}

.conteudo-post span{
    color: #666;
    font-size: 14px;
}

.conteudo-post p{
    margin-top: 10px;

    font-size: 15px;
    line-height: 1.6;
}

.right-bar{
    position: absolute;

    left: 1200px;
    top: 0;

    width: 650px;
    min-height: 100vh;

    padding: 35px;
}

.links{
    display: flex;
    flex-wrap: wrap;

    gap: 12px;
}

.links a{
    color: #666;

    text-decoration: none;

    font-size: 14px;

    padding: 0;
    margin: 0;

    font-family: font1;
}

.links a:hover{
    text-decoration: underline;
}

.right-bar p{
    margin-top: 20px;

    color: #666;

    font-size: 14px;

    font-family: font1;
}
.circulo-vermelho{
    width: 45px;
    height: 45px;

    border-radius: 50%;

    background: #DC2626;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
    margin-right: 12px;

    cursor: pointer;
}

.circulo-vermelho i{
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.eicamargologo
{
    width: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: auto;
}
.circulo-vermelho label{
    cursor:pointer;
    color:white;
}

#preview-imagem{
    display:none;
    max-width:300px;
    margin-top:15px;
    border-radius:12px;
}